<p class="lead"><%= @artwork.artist.fullname %></p>

<p>
  Cookie cotton candy candy canes bear claw cookie jelly-o dragée carrot cake lollipop. Cookie pudding danish ice cream jelly beans chocolate bar jelly wafer bear claw. Dragée lollipop chupa chups. Bonbon croissant muffin. Cupcake muffin chocolate bar chocolate. Cake powder sugar plum bonbon soufflé. Chocolate bar sugar plum oat cake. Apple pie fruitcake toffee biscuit cupcake muffin. Cheesecake soufflé cheesecake sugar plum pie soufflé cupcake icing. Toffee oat cake bonbon. Pastry carrot cake sweet. Pie lemon drops cake wafer chupa chups.
</p>